@import "./reset.scss";
@import "./variables/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

.main-container {
    width: 100%;
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}
