@import "./reset";
@import "./variables/variables";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap";

body {
    background: var(--bg-color);
}

.main-container {
    width: 100%;
    color: var(--primary-color);
    font: var(--font-m);
}

$color-track: var(--bg-color);
$color-thumb: #9b9b9b;

@media (min-width: 768px) {
    // Chrome, Edge, Safari, Opera
    ::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    ::-webkit-scrollbar-track {
        background: $color-track;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba($color-thumb, 0.5);
        border: 2px solid $color-track;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba($color-thumb, 0.8);
    }

    // Firefox
    body {
        scrollbar-width: thin;
        scrollbar-color: $color-track $color-thumb;
    }
}
