.wrapper {
    height: 100vh;
    padding: var(--navbar-height) 10% 0;

    @media (max-width: 991px) {
        padding: var(--navbar-height) 5% 0;
    }
    @media (max-width: 575px) {
        padding: var(--navbar-height) 3% 0;
    }
}

h2 {
    padding: 100px 0 70px;
    font: var(--font-xl);
    font-weight: 300;
    text-align: center;

    @media (max-width: 575px) {
        padding: 50px 0;
        font: var(--font-l);
    }
}

.list {
    padding: 0 10% 50px;

    @media (max-width: 991px) {
        padding: 0 0 50px;
    }
}

.item {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    color: var(--secondary-color);

    @media (max-width: 991px) {
        flex-direction: column;
        gap: 20px;
    }
}

.title {
    flex: 0 0 15%;

    @media (max-width: 991px) {
        flex: 1 1 100%;
        margin-bottom: -5px;
        color: var(--primary-color);
    }
}

.img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    background: var(--primary-color);
    border-radius: 50%;

    @media (max-width: 991px) {
        display: none;
    }
}

.text {
    display: flex;
    flex: 1 1 75%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    @media (max-width: 991px) {
        flex: 1 1 100%;
    }
}
