.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: var(--navbar-height) 10% 0;
}

.link {
    margin-left: 10px;
    color: var(--tertiary-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
