.TitleBlock {
    margin-bottom: 30px;
    padding-left: 30px;
    border-left: 2px solid var(--secondary-color);

    .title {
        margin-bottom: 10px;
        font: var(--font-xxl);
    }

    .subtitle {
        margin-bottom: 5px;
        font: var(--font-l);
        font-weight: 300;
    }
}

@media (max-width: 575px) {
    .TitleBlock {
        padding: 0;
        border-left: none;

        .title {
            font: var(--font-xl);
        }

        .subtitle {
            font: var(--font-m);
        }
    }
}
