.Navbar {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--bg-color);
}

.links {
    a {
        margin: 0 20px;
        color: var(--primary-color);
        font-weight: 300;
        transition: all 0.3s;
    }

    a:hover {
        color: var(--tertiary-color);
    }

    a:not(:last-child) {
        margin-right: 15px;
    }
}

.linkBack {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font: var(--font-m);
    transition: all 0.3s;

    svg {
        height: 20px;
        transition: all 0.3s;
        fill: var(--secondary-color);
    }

    span:last-child {
        margin-left: 10px;
    }

    &:hover {
        color: var(--tertiary-color);

        svg {
            fill: var(--tertiary-color);
        }
    }
}
