.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;
}

.links {
    a {
        color: var(--primary-color);
        margin: 0 20px;
    }

    a:not(:last-child) {
        margin-right: 15px;
    }
}
