.RowBlock {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .column {
        flex: 0 1 50%;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .RowBlock {
        flex-direction: column;

        .column {
            flex: 1 1 100%;
            width: 100%;
            height: auto;

            &:first-child {
                order: 1;
            }

            &:last-child {
                order: 0;
            }
        }
    }
}
