.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100vh;
    padding: var(--navbar-height) 10% 0;
}

// main-section-1
.about {
    margin-bottom: 30px;
    padding-left: 30px;
    border-left: 2px solid var(--secondary-color);

    .name {
        margin-bottom: 10px;
        font: var(--font-xxl);
    }

    .profession {
        font: var(--font-l);
        font-weight: 300;
    }
}

.btn {
    margin: 0 0 100px 30px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

    div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 1px;
        margin-right: 20px;
        background: var(--secondary-color);
    }

    div:nth-child(2) {
        margin-right: 20px;
        font-weight: 300;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;

        svg {
            height: 16px;
            fill: var(--tertiary-color);
        }

        &:hover {
            border: 2px solid var(--tertiary-color);
        }
    }
}

// main-section-2
.row {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 30px;
    padding-top: 70px;

    .column {
        flex: 0 0 50%;
        text-align: center;

        h2 {
            font: var(--font-xl);
            font-weight: 300;
        }

        h3 {
            font: var(--font-l);
            font-weight: 300;
        }

        .block {
            margin-top: 40px;
            padding: 0 20px;
            font-weight: 300;

            p {
                margin: 20px 0 10px;
            }

            span {
                display: inline-block;
                margin: 4px 3px;
                padding: 2px 6px;
                color: var(--secondary-color);
                font-weight: 400;
                border: 1px solid var(--secondary-color);
            }
        }

        &:last-child {
            p {
                text-align: left;
            }
        }
    }
}

// main-section-3
.linkUp {
    transform: rotate(180deg);
}
