.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100vh;
    padding: var(--navbar-height) 10% 0;

    @media (max-width: 991px) {
        padding: var(--navbar-height) 5% 0;
    }
    @media (max-width: 575px) {
        padding: var(--navbar-height) 3% 0;
    }
}

.wrapperRow {
    position: relative;
    height: 100vh;
    padding: var(--navbar-height) 5% 0;

    @media (max-width: 991px) {
        padding: 0 5%;
    }
    @media (max-width: 575px) {
        padding: 0 3%;
    }

    .linkDown {
        position: absolute;
        bottom: 0;
        left: 10%;

        @media (max-width: 991px) {
            left: 5%;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }
}

.btn {
    margin: 0 0 100px 30px;

    @media (max-width: 575px) {
        margin: 0 0 100px;
    }
}

// main-section-2
.row {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 30px;
    padding-top: 70px;

    @media (max-width: 767px) {
        flex-direction: column;
        height: auto;
    }
}

.column {
    flex: 0 0 50%;
    text-align: center;

    @media (max-width: 768px) {
        flex: 1 1 100%;
    }

    h2 {
        font: var(--font-xl);
        font-weight: 300;

        @media (max-width: 991px) {
            padding: 40px 0;
        }
        @media (max-width: 767px) {
            padding: 40px 0 10px;
        }
    }

    h3 {
        font: var(--font-l);
        font-weight: 300;
    }

    .block {
        margin-top: 40px;
        padding: 0 20px;
        font-weight: 300;

        @media (max-width: 767px) {
            margin-top: 20px;
        }

        p {
            margin: 20px 0 10px;
        }

        span {
            display: inline-block;
            margin: 4px 3px;
            padding: 2px 6px;
            color: var(--secondary-color);
            font-weight: 400;
            border: 1px solid var(--secondary-color);
        }
    }

    &:last-child {
        p {
            text-align: left;
        }
    }
}
