.wrapper {
    position: relative;
    height: 100vh;
    padding: var(--navbar-height) 10% 0;

    @media (max-width: 991px) {
        padding: var(--navbar-height) 5% 0;
    }
    @media (max-width: 575px) {
        padding: var(--navbar-height) 3% 0;
    }
}

.row {
    height: 470px;
    margin-top: 30px;

    @media (max-width: 991px) {
        height: auto;
    }
}

.columnLeftText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: left;

    @media (min-width: 575px) and (max-width: 991px) {
        height: auto;
        margin-top: 50px;
    }

    @media (max-width: 575px) {
        margin-top: 50px;
    }

    @media (max-width: 575px) and (max-height: 700px) {
        margin-top: 10px;
    }
}

.linkDown {
    position: absolute;
    bottom: 0;
    left: 10%;

    @media (max-width: 991px) {
        left: 5%;
    }
    @media (max-width: 575px) {
        left: 3%;

        @media (max-height: 700px) {
            display: none;
        }
    }
}

.columnImg {
    text-align: center;

    img {
        height: 470px;

        @media (min-width: 575px) and (max-width: 991px) {
            height: 700px;
        }
        @media (max-width: 575px) and (max-height: 700px) {
            height: 400px;
        }
    }
}

.columnImgMack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        height: 300px;

        @media (max-width: 765px) {
            height: 250px;
        }
        @media (max-width: 575px) {
            height: 200px;
        }
    }
}

.btn {
    margin: 30px 0 0;
}

.description {
    padding-bottom: 50px;
    font: var(--font-line-m);
    font-weight: 300;

    a,
    span {
        margin-left: 10px;
        color: var(--tertiary-color);
        cursor: pointer;
    }
}
